@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  color: #0a0a0a;
  height: 50px;
  padding: 0 50px;
}

.nav_container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.footer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 50px;
  background-color: rgb(15, 255, 175);
  color: black;
}

.home_container {
  height: calc(100vh - 100px);
}

.recipes_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.recipe_card {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}