@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}*/



body {
  background: #F0E6FF;
  color: var(--foreground);}

h1, h2, h3 {
  font-family: "Kanit", sans-serif;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #aab8c4;
  height: 80px;
  padding: 0 60px;
}

.nav_container ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 70px;
}

.nav_container ul a {
  font-family: "Kanit", sans-serif;
  color: #172852;
  font-weight: 700;
  text-transform: none;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: inline-block;
}

.nav_container ul a:hover {
  color: #1f1f20;
  transform: scale(1.2);
}

.content_search form {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.content_search input {
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  padding: 8px 20px;
  font-size: 12px;
  border: 2px solid #172852;
  border-radius: 10px;
  width: 300px;
  background-color: #ffffff;
  
}


.content_search button {
  padding: 5px 10px;
  background-color: #172852;
  color: #f0e6ff;
  border-radius: 5px;
  border: 1px soid #1f1f20;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  height: 35px;
  width: 40px;
}

.content_search button:hover{
  background-color: #f0e6ff;
  color: #1f1f20;
  border-color: #172852;
}

.logo_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.logo_container h2 {
  font-family: "Ephesis", cursive;
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #171717;
}

.recipe_container {
  font-family: "Work Sans", sans-serif;
  max-width: 750px;
  margin: 40px auto;
  padding: 30px;
  background-color: #f5eeee;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: #1f1f20;
  overflow: hidden;
  text-align: left;
}

.recipe_container h1{
  font-family: "EB Garamond", serif;
  font-size: 40px;
  text-align: center;
  color: #1f1f20;
  padding: 5px 0;
  border-top: 2px solid #1f1f20;
  border-bottom: 2px solid #1f1f20;
  font-weight: 700;
  margin-top: 20px;
}

.recipe_container img {
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 #1f1f20;
}

.recipe_container h2 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #1f1f20;
  display: inline-block;
  border-bottom: 5px solid #458ac8;
  border-radius: 5px;
  width: 100%;
  padding-bottom: 5px;
  margin-top: 20px;
  text-align: left;
  font-weight: 700;
}

.recipe_container ul {
  margin: 20px 0 10px 0;
  padding-left: 20px;
  font-style: italic;
}

.recipe_container li {
  font-size: 14px;
  margin-bottom: 10px;
  list-style: disc;
  font-weight: 700;
}

.recipe_container p {
  font-family: "Kanit", sans-serif;
  font-size: 16px;
  text-align: justify;
  font-weight: 400;
  margin-top: 10px;
}

.recipe_container .food_info {
  margin-top: 70px;
  padding: 10px 20px;
  background-color: #f7f3f3;
  border-left: 6px solid #458ac8;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  font-size: 16px;
}

.recipe_container .food_info .info {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  color: #1f1f20;
  padding: 10px 15px;
  font-weight: normal;
  font-style: italic;
}

.recipe_container .food_info .info .info_label {
  font-weight: bold;
  color: #1f1f20;
  display: block;
  margin-bottom: 3px;
}

.recipe_container .food_info .info .info_value {
  color: #1f1f20; 
}

.back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

#backHome {
  font-family: "EB Garamond", serif;
  font-weight: 600;
  font-size: 14px;
  background-color: #172852;
  color: #F0E6FF;
  padding: 15px 20px;
  cursor: pointer;
  border: 2px solid #172852;
  box-shadow: 0 5px 5px rgba(23, 40, 82, 0.2);
  border-radius: 10px;
  transition: color 0.3s ease-in-out, backgroundcolor 0.3s ease-in-out;
  letter-spacing: 1px;
}

#backHome:hover {
  background-color: #F0E6FF;
  color: #172852;
  
}


.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-top: 50px;
  background-color: #172852;
  color: #458ac8;
  box-sizing: border-box;
}

.footer_container p {
  font-family: 'Playfair Display', serif;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;

}

.logos {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-bottom: 15px;
}

.copyright {
  width: 100%;
  background-color: #111d3a;
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  text-align: center;
  padding: 10px 50px;
}

.home_container {
  min-height: calc(100vh - 100px);
  
}

.home_container h1 {
  color: #f0e6ff;
  font-size: 40px;
  font-weight: 700;
  line-height: 10px;
  text-align: center;
  width: 100%;
  background-color: #172852;
  padding: 40px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.recetas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.recetas h2{
  text-align: center;
  color: #171717;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
}

.recipes_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  max-width: 1200px;
  padding: 0 32px;
}

.recipe_card {
  background-color: #458ac8;
  grid-column: span 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.recipe_card h3 {
  font-family: "Work Sans", sans-serif;
  color:#171717;
  font-weight: 700;
  word-break: break-word;
  font-size: 18px;          
  max-width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.recipe_card img {
  border-radius: 20px;
}

.recipe_button {
  font-family: "Kanit", sans-serif;
  color: #F0E6FF;
  text-align: center;
  margin-top: auto;
  margin-bottom: 20px;
  background-color: #172852;
  border-radius: 10px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.recipe_button:hover {
  color: #172852;
  background-color: #F0E6FF;
  font-weight: 700;
}